html, body, #root, .App {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent; 
    overflow: hidden; 
}

.App-header {
    position: relative;
    z-index: 2;
}